$principal: #0b8aa0;
$secundario: #66a5ad;
$terciario: #2c7873;
$texto: #414444;



.mi-bg {
	background:  #929292;
}


  

  ul, ol {
  	list-style: none;
  }

.mi-nav li a{
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    background:  #929292;
  }

 .mi-nav li ul{
 display: none;
position: absolute;
min-width: 140px;
  }

.mi-nav li:hover > ul {
	display: block;
}