$principal: #0b8aa0;
$secundario: #66a5ad;
$terciario: #2c7873;
$texto: #414444;



.mi-bg {
	background:  #929292;
}


  

  ul, ol {
  	list-style: none;
  }

.mi-nav li a{
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    background:  #929292;
  }

 .mi-nav li ul{
 display: none;
position: absolute;
min-width: 140px;
  }

.mi-nav li:hover > ul {
	display: block;
}

.MiBorde2{
    background: linear-gradient(90deg, rgba(236,249,251,1) 0%, rgba(102,165,173,1) 35%, rgba(236,249,251,1) 100%);
    width: 55%;
    height: 1px;
  }
  body{
  	background: #343a4059;
  }